<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SBank</a>
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#home.html" onclick="navigate(this)" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="deposit.html">Deposit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="fund_transfer.html">Fund Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="withdrawal.html">Withdrawal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="payee_list.html">List Payee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="add_payee.html">Add Payee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create_account.html">Create Account</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="branch_list.html">List Branches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="view_balance.html">View Balance</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="account_type_list.html">List Account Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account_activation.html">Account Activation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recharge.html">Recharge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="transaction_list.html">View Transactions</a>
            </li>
            
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="login.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Register</a>
            </li>
        </ul>
        
    </div>
</nav>