<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SBank</a>
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html" >Home</a>
            </li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="account_type_list.html">Account Types</a>    
                    <a class="dropdown-item" href="branch_list.html">List Branches</a>                
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="deposit.html">Deposit</a>
                     <a class="dropdown-item" href="withdrawal.html">Withdrawal</a>
                     <a class="dropdown-item" href="fund_transfer.html">Fund Transfer</a>
                    <a class="dropdown-item" href="transaction_list.html">View Transactions</a>
                    <a class="dropdown-item" href="view_balance.html">View Balance</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payments</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="payee_list.html">List Payee</a>          
                    <a class="dropdown-item" href="add_payee.html">Add Payee</a>
                    <a class="dropdown-item" href="recharge.html">Recharge</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create_account.html">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account_activation.html">Account Activation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="kyc.html">KYC</a>
            </li>
            
            
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="login.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Register</a>
            </li>
        </ul>
        
    </div>
</nav>